---
import Layout from '../layouts/Layout.astro';
---

<Layout>
<body>

  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog">Blog</a>
  <p> This is a blog post page, a place to learn to use astro</p>
</body>
</Layout>